<% @employment = Employment.find_by(user: current_user, organisation: organisation) %>
<tr>
  <td><%= organisation.name %></td> 
  <td><%= link_to "Edit", edit_organisation_path(organisation) %></td>  
  <% if @employment %>
    <td><%= link_to "View Shifts", organisation %></td> 
    <td><%= link_to "Leave", employment_path(@employment), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to leave the organisation?"} %></td> 
  <% else %>
    <td><%= link_to "Join", organisation_employments_path(organisation), data: {turbo_method: :post} %></td> 
  <% end %>
</tr>